$white: #fff;
$black: #000;
$transparent: transparent;

$blue-1: #2196F3;
$blue-2: #0D47A1;

$grey-1: #8C8C8C;

$orange-1: #FF9800;

$green-1: #8BC34A;

$red-1: #FF5722;

// Header --------------
$headerBg: $blue-2;
// Card ----------------
$cardTitle: $blue-1;
$cardText: $white;
$cardIcon: $grey-1;

$ribbonDraft: $orange-1;
$ribbonOpen: $green-1;
$ribbonClosed: $red-1;
$ribbonSoldOut: $grey-1;

//btn ---------
$successBG: $green-1;
$errorBG: $red-1;