%cardPadding {
  padding: 15px 20px;
}

%noStandartMar {
  margin-left:-16px !important;
  margin-right:-16px !important;
}

%text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%noIndent {
  margin: 0;
  padding: 0;
  list-style: none;
}