<md-dialog ng-cloak class="login">
    <md-content>
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex text-center">Log in as: <span class="text-uppercase">{{role}}</span></h2>
            </div>
        </md-toolbar>

        <div class="login_content">
            <p class="text-center">Choose your role</p>
            <md-switch ng-model="switched" aria-label="User" ng-change="{{switched}}" class="switcher">
            </md-switch>

            <md-dialog-actions layout-align="center center"  layout-wrap layout="row">

                <md-button  class="md-button md-raised md-prime md-hue-1" ng-click="logIn()">Log In
                </md-button>
            </md-dialog-actions>
        </div>
    </md-content>
</md-dialog>